@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.container{
   padding: 0;
    margin: 0;
    float: left;
    border-radius: 10px;

}
body{
    font-family: 'Abril Fatface', cursive;
}

aside{
    float: right;
    border: 10px;
    border-radius: 10px;
    text-align: justify;
    color: aqua;
    background-color: black;
    border-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: none ;
    width: 100px;
    height: 400px;

}